<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jc.petal">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".main.MainActivity"
                android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".login.LoginActivity"
                android:label="@string/login">
        </activity>
        <activity
                android:name=".pin.PinDetailActivity"
                android:label="@string/pin_detail"
                android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
                android:name=".user.UserActivity"
                android:label="@string/pin_detail"
                android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>
        <activity
                android:name=".board.BoardDetailActivity"
                android:label="@string/board_detail">
        </activity>
    </application>

</manifest>